<!--Navbar -->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark grey darken-3">
  <mdb-navbar-brand> <a class="navbar-brand waves-light mdbWavesEffect"  routerLink =""> TECHSTORE</a></mdb-navbar-brand>

  <links>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link  waves-light mdbWavesEffect" routerLink="" >Home  <mdb-icon fas icon="home"></mdb-icon>
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light mdbWavesEffect" routerLink="/magazzini" *ngIf="loginService.isUserLoggedIn()">I tuoi magazzini  <mdb-icon fas icon="warehouse"></mdb-icon></a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">



          <li class="nav-item ">
            <a class="nav-link nav-link waves-light mdbWavesEffect" routerLink="/login">Chi siamo
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-link waves-light mdbWavesEffect" routerLink="/login">Cos'è TechStore
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link nav-link waves-light mdbWavesEffect" routerLink="/login" *ngIf="!loginService.isUserLoggedIn()">Log-in   <i class="fas fa-user"></i>
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
              <a class="nav-link nav-link waves-light mdbWavesEffect" routerLink="/logout" *ngIf="loginService.isUserLoggedIn()">Log-out
                <span class="sr-only">(current)</span>
              </a>
            </li>



    </ul>
  </links>

</mdb-navbar>
<!--/.Navbar -->

