<!-- Table  -->
<br>

<table class="table text-center">
  <!-- Table head -->
  <thead *ngIf=product>

    <h2 class="list-group-item active dark grey darken-3 text-center"  mdbWavesEffect>
     Prodotto: {{product.name}} </h2>

  </thead>
  <!-- Table head -->

  <!-- Table body -->
  <tbody>
    <tr *ngIf="product">
      <td ><h5>Nome:</h5></td>

      <div class="md-form"><td>
        <input  type="text" class="form-control text-center" value="{{product.name}}" [(ngModel)]="product.name" name="name" >
        </td>
        </div>
        <td ><h5>Quantità</h5></td>

        <div class="md-form"><td>
          <input type="number" class="form-control text-center" value={{product.quantity}}  [(ngModel)]="product.quantity" name="quantity">
            </td></div>
            </tr>
    <tr *ngIf=product>
        <td ><h5>Prezzo:</h5></td>
      <div class="md-form"><td>
        <input type="number" class="form-control text-center" value={{product.prezzo}} [(ngModel)]="product.prezzo" name="prezzo">
          </td></div>
          <td ><h5>Codice a barre:</h5></td>
          <div class="md-form"><td>
            <input type="text" class="form-control text-center" value={{product.codiceBarre}}  [(ngModel)]="product.codiceBarre" name="codiceBarre">
              </td></div>
            </tr>
    <tr *ngIf=product >
        <td ><h5>Nota:</h5></td>
        <div class="md-form"><td>
          <input type="text" class="form-control text-center"  value={{product.nota}} [(ngModel)]="product.nota" name="nota">

            </td></div>
            <td ><h5>Quantità minima:</h5></td>

            <div class="md-form"><td>
              <input type="number" class="form-control text-center" value={{product.minQuantity}} [(ngModel)]="product.minQuantity" name="minQuantity">
                </td></div>
    </tr>
  </tbody>
  <!-- Table body -->
  <button  type="button" mdbBtn color="elegant" class="relative waves-light" (click)="editProduct(product.id)">Aggiungi Prodotto</button>
</table>
<!-- Table  -->

