#tabella{


  height: 10%;
  margin: 0 auto;

width: 75%;
}
#bottoniSotto{
  width: 75%;
  margin: 0 auto;

}

#bottoneSopra{
  width: 100%;
  margin: 0 auto;
}

#bottoneSotto{
  width: 100%;
  margin: 0 auto;
  margin-top: 1px;

}
