<!-- Table  -->
<br>

<table class="table text-center">
  <!-- Table head -->
  <thead *ngIf=product>

    <h2 class="list-group-item active dark grey darken-3 text-center"  mdbWavesEffect>
     Prodotto: {{product.name}} </h2>

  </thead>
  <!-- Table head -->

  <!-- Table body -->
  <tbody>
    <tr *ngIf=product>
      <td ><h5>Nome:</h5></td>

      <div class="md-form"><td>
        <input type="text" class="form-control text-center"   [ngModel]="newProduct.name" name="name" value="{{product.name}}">
          </td></div>
          <td ><h5>Quantità:</h5></td>

          <div class="md-form"><td>
            <input type="text" class="form-control text-center"   [ngModel]="newProduct.quantity" name="quantity" value="{{product.quantity}}">
              </td></div>

    <tr >
        <td ><h5>Prezzo:</h5></td>

      <div class="md-form"><td>
        <input type="text" class="form-control text-center"  [ngModel]="newProduct.prezzo" name="prezzo" value="{{product.prezzo}}">
          </td></div>
          <td ><h5>Codice a barre:</h5></td>

          <div class="md-form"><td>
            <input type="text" class="form-control text-center"  [ngModel]="newProduct.codiceBarre" name="codiceBarre" value="{{product.codiceBarre}}">
              </td></div>

    <tr >
        <td ><h5>Nota:</h5></td>

        <div class="md-form"><td>
          <input type="text" class="form-control text-center"   [ngModel]="newProduct.nota"  name="nota" value="{{product.nota}}">
          
            </td></div>
            <td ><h5>Quantità minima:</h5></td>

            <div class="md-form"><td>
              <input type="text" class="form-control text-center"   [ngModel]="newProduct.minQuantity" name="minQuantity" value="{{product.minQuantity}}">
                </td></div>
    </tr>
  </tbody>
  <!-- Table body -->

</table>
<!-- Table  -->
<button  type="button" mdbBtn color="elegant" class="relative waves-light" (click)="editProduct(product.id)">Aggiungi Prodotto</button>
