
<br>
<div class="list-group">
    <div id="titolo">
      <h2 id="tabella" class="list-group-item active dark grey darken-3 text-center"  *ngIf="product" mdbWavesEffect><mdb-icon fas icon="dolly-flatbed"></mdb-icon>      Prodotto: {{product.name}}

        </h2>
      </div>




         <div id ="tabella" class="list-group-item list-group-item-action waves-light  bordered-cyan">

<table id= "tabella"class="table  text-center"striped="true">

  <tbody>

<div class="md-form">
    <tr *ngIf="product">
      <td ><h5>Nome:</h5></td>
      <td> <input  type="text" class="form-control text-center" value="{{product.name}}" [(ngModel)]="product.name" name="name" >
        </td>

        <td ><h5>Quantità</h5></td>
            <td> <input type="number" class="form-control text-center md-form" value={{product.quantity}}  [(ngModel)]="product.quantity" name="quantity">
            </td>

        <td ><h5>Prezzo:</h5></td>
      <td>
        <input type="number" class="form-control text-center" value={{product.prezzo}} [(ngModel)]="product.prezzo" name="prezzo">
          </td>
        </tr>
          <tr *ngIf=product>
          <td ><h5>Codice a barre:</h5></td>
          <td>
            <input type="text" class="form-control text-center" value={{product.codiceBarre}}  [(ngModel)]="product.codiceBarre" name="codiceBarre">
              </td>




        <td ><h5>Nota:</h5></td>
        <td>
          <input type="text" class="form-control text-center"  value={{product.nota}} [(ngModel)]="product.nota" name="nota">

            </td>
            <td ><h5>Quantità minima:</h5></td>

           <td>
              <input type="number" class="form-control text-center" value={{product.minQuantity}} [(ngModel)]="product.minQuantity" name="minQuantity">
                </td>
    </tr>
  </div>

  </tbody>



</table>
</div>
<div id="bottoniSotto">
  <button id="bottoneSopra" type="button" mdbBtn color="elegant" class="relative waves-light" (click)="editModal.show()"><mdb-icon far icon="save"></mdb-icon>    Salva Modifiche</button>

<button *ngIf="magazzino" id="bottoneSotto" type="button" mdbBtn color="elegant" class="relative waves-light" (click)="MagazzinoDetail(product.magazzino)"><mdb-icon fas icon="redo-alt"></mdb-icon>   Torna al magazzino</button>

<div mdbModal #editModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myUpdateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header-dark grey darken-3">
        <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <br>
        <h4 class="modal-title w-100 text-center" id="myModalLabel"><mdb-icon fas icon="wrench"></mdb-icon>   Modifica prodotto: {{product.name}}</h4>
        <br>
      </div>
        <div id ="center" class="md-form">


          <h5  class="text-center">Sei sicuro di voler effettuare queste modifiche al prodotto: {{product.name}} ?</h5>

      </div>


      <div class="modal-footer">
        <button type="button" mdbBtn color="elegant" class="waves-light" aria-label="Close" (click)="editModal.hide()" mdbWavesEffect><mdb-icon fas icon="times"></mdb-icon>     Chiudi</button>
        <button  type="button"   class="btn btn-danger" (click)="editProduct(product.id)"><mdb-icon far icon="save"></mdb-icon>    Salva Modifiche</button>
      </div>
    </div>
  </div>
</div>
</div>


</div>
