#tabella{


  height: 10%;
  margin: 0 auto;

width: 75%;
}
#bottoniSotto{
  width: 75%;
  margin: 0 auto;

}

#bottoneSopra{
  width: 100%;
  margin: 0 auto;
}

#bottoneSotto{
  width: 100%;
  margin: 0 auto;
  margin-top: 1px;

}

#center {
  margin: 0 auto;
  width: 85%;
margin-top: 10%;
margin-bottom: 10%;
}
input[type="text"]{
  background-color : #e9e9e9;
}
input[type="number"]{
  background-color : #e9e9e9;
}
h4{
  color: white
}
