h4{
color:white

}
span{

    color:white
}

#form1{
  color: white;
}

#ricerca{
  width: 25%;
}

#tabella{


    height: 10%;
    margin: 0 auto;

  width: 75%;
}
#titolo{
  height: 10%;
  margin: 0 auto;
  width: 75%;
}
