<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Nuovo prodotto</h4>
      </div>
      <div class="md-form">

        <input type="text" class="form-control" id="form6" required [(ngModel)]="product.name" name="name" mdbInput>
        <label for="form6">Inserisci il nome</label>

      </div>

      <div class="md-form">

        <input type="text" class="form-control" id="form6" required [(ngModel)]="product.quantity" name="quantity" mdbInput>
        <label for="form6">Inserisci la tua quantità</label>

      </div>
      <div class="md-form">

        <input type="text" class="form-control" id="form6" required [(ngModel)]="product.prezzo" name="prezzo" mdbInput>
        <label for="form6">Inserisci il prezzo</label>

      </div>


      <div class="modal-footer">
        <button type="button" mdbBtn color="elegant" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Chiudi</button>
        <button type="submit"  (click)="createProduct()" class="waves-light" mdbBtn color="elegant" >Crea</button>
      </div>
    </div>
  </div>

</div>







<br>
<div class="list-group" >

  <h2 class="list-group-item active dark grey darken-3"  mdbWavesEffect>
Magazzino
     <button type="button" mdbBtn color="elegant" class="relative waves-light" (click)="basicModal.show()">Aggiungi Prodotto</button>

    </h2>

<div>


     <div class="list-group-item list-group-item-action waves-light">
        <table class="table table-striped">
            <thead>



              <tr>
                <th>Nome</th>
                <th>quantità</th>
                <th>prezzo</th>
                <th></th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products | async">
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.prezzo}}</td>

                <td><button (click)="deleteProduct(product.id)" class="btn btn-danger"><mdb-icon far icon="trash-alt"></mdb-icon></button>
                <td><button type="submit" mdbBtn color="elegant" class="relative waves-light" (click)="updateModal.show(product.id)">Modifica Prodotto</button>





          <div mdbModal #updateModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myUpdateModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="updateModal.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myupdateModalLabel">Modifica prodotto</h4>
                </div>
                <div class="md-form">

                  <input placeholder={{product.name}} type="text" class="form-control" id="form6" required [(ngModel)]="newProduct.name" name="name"  mdbInput>
                  <label for="form6">nome</label>

                </div>

                <div class="md-form">

                  <input placeholder={{product.quantity}} type="text" class="form-control" id="form6" required [(ngModel)]="newProduct.quantity" name="quantity" mdbInput>
                  <label for="form6">Quantità</label>

                </div>
                <div class="md-form">

                  <input placeholder={{product.prezzo}} type="text" class="form-control" id="form6" required [(ngModel)]="newProduct.prezzo" name="prezzo" mdbInput>
                  <label for="form6">Prezzo</label>

                </div>


                <div class="modal-footer">
                  <button type="button" mdbBtn color="elegant" class="waves-light" aria-label="Close" (click)="updateModal.hide()" mdbWavesEffect>Chiudi</button>
                  <button type="submit" (click)=editProduct(product.id)  class="waves-light" mdbBtn color="elegant" >Salva</button>
                </div>
              </div>
            </div>


          </div>

        </td>
      </tr>
    </tbody>
  </table>




</div>


