<div mdbModal #basicModal="mdbModal"  class="modal fade" id="exampleModalScrollable"  tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header-dark grey darken-3">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <br>
        <h4 class="modal-title w-100 text-center" id="myModalLabel"><mdb-icon fas icon="plus"></mdb-icon>    Crea nuovo prodotto</h4>
        <br>
      </div>
      <br>
     <div  style="float:left">
      <div id ="center" class="md-form">

        <input type="text" class="form-control text-center" id="form6 center" required [(ngModel)]="product.name" name="name" #name="ngModel"mdbInput>

        <div *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger">

      <div *ngIf="name.errors.required">
        Non puoi lasciare il campo nome vuoto
      </div>
    </div>


        <label for="form6">Inserisci il nome del prodotto</label>

      </div>

      <div  id ="center" class="md-form">

        <input type="text" class="form-control text-center" id="form6 center" required [(ngModel)]="product.quantity" name="quantity" #quantity="ngModel" mdbInput>
        <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)"
        class="alert alert-danger">

      <div *ngIf="quantity.errors.required">
        Non puoi lasciare il campo quantità vuoto
      </div>



    </div>


        <label class="text-center" for="form6">Inserisci la tua quantità</label>

      </div>
      <div  id ="center" class="md-form">

        <input type="text" class="form-control text-center" id="form6 center" required [(ngModel)]="product.prezzo" name="prezzo" #prezzo="ngModel"mdbInput>
        <div *ngIf="prezzo.invalid && (prezzo.dirty || prezzo.touched)"
        class="alert alert-danger">

      <div *ngIf="prezzo.errors.required">
        Non puoi lasciare il campo prezzo vuoto
      </div>
    </div>
        <label for="form6">Inserisci il prezzo</label>

      </div>
    </div>
    <div  style="float:right">
      <div  id ="center" class="md-form">

        <input type="text" class="form-control text-center" id="form6 center" required [(ngModel)]="product.codiceBarre" name="codiceBarre"#codiceBarre="ngModel" mdbInput>
        <div *ngIf="codiceBarre.invalid && (codiceBarre.dirty || codiceBarre.touched)"
        class="alert alert-danger">

      <div *ngIf="codiceBarre.errors.required">
        Non puoi lasciare il campo codice a barre vuoto
      </div>
    </div>

        <label  id ="center" for="form6">Inserisci il codice a barre</label>

      </div>

      <div  id ="center" class="md-form">

        <input type="text" class="form-control text-center" id="form6 center" required [(ngModel)]="product.nota" name="nota" mdbInput>
        <label for="form6">Inserisci eventuale nota</label>

      </div>
      <div  id ="center" class="md-form">

        <input type="text" class="form-control text-center" id="form6 center" required [(ngModel)]="product.minQuantity" #minQuantity="ngModel" mdbInput>
        <div *ngIf="minQuantity.invalid && (minQuantity.dirty || minQuantity.touched)"
        class="alert alert-danger">

      <div *ngIf="minQuantity.errors.required">
        Non puoi lasciare il campo della quantità di controllo vuoto
      </div>
    </div>

        <label for="form6">Inserisci quantity di controllo
        </label>

      </div>
</div>




        <button type="button" mdbBtn color="elegant" class="waves-light text-center" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Chiudi</button>
        <button type="submit"  (click)="createProduct()" class="waves-light text-center" mdbBtn color="elegant" >Crea</button>

    </div>
  </div>

</div>


<br>
<div class="list-group">
<div id="titolo">
  <h2  class="list-group-item active dark grey darken-3 text-center"  *ngIf="magazzino" mdbWavesEffect><mdb-icon fas icon="warehouse"></mdb-icon>    Magazzino: {{magazzino.name}}

    </h2>
    <input type="text" class="form-control text-center" name="search" placeholder="Inserisci valore da cercare" [(ngModel)]="searchText">
  </div>




     <div id ="tabella" class="list-group-item list-group-item-action waves-light  bordered-cyan">

      <table class="table table-striped" mdbTable mdbTableScroll scrollY="true" maxHeight="500" bordered="true" >
            <thead>



              <tr>
                <th class="text-center">Nome</th>
                <th class="text-center">Quantità</th>
                <th class="text-center">Prezzo</th>
                <th class="text-center">Codice a barre</th>
                <th class="text-center">Nota</th>
                <th class="text-center">Stato</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products | async | filter:searchText">
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.quantity}}</td>
                <td class="text-center">{{product.prezzo}}</td>
                <td class="text-center">{{product.codiceBarre}}</td>
                <td class="text-center">{{product.nota}}</td>


               <td class="text-center"><mdb-icon *ngIf="product.quantity>product.minQuantity else: elseBlock" class="green-text pr-3" fas icon="battery-full"></mdb-icon></td>
               <ng-template #elseBlock><mdb-icon class="amber-text pr-3" fas icon="battery-quarter"></mdb-icon></ng-template>
                <td class="text-center"><button (click)="deleteModal.show()" class="btn btn-danger"><mdb-icon far icon="trash-alt"></mdb-icon></button>
                <td class="text-center"><button type="submit" mdbBtn color="elegant" class="relative waves-light" (click)=ProductDetails(product.id)><mdb-icon fas icon="wrench"></mdb-icon></button>


                  <div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myUpdateModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header-dark grey darken-3">
                          <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
                            <span aria-hidden="true">×</span>
                          </button>
                          <br>
                          <h4 class="modal-title w-100 text-center" id="myModalLabel"><mdb-icon fas icon="wrench"></mdb-icon>   Cancella prodotto: {{product.name}}</h4>
                          <br>
                        </div>
                          <div id ="center1" class="md-form">


                            <h5  class="text-center">Sei sicuro di cancellare il prodotto: {{product.name}} ?</h5>

                        </div>


                        <div class="modal-footer">
                          <button type="button" mdbBtn color="elegant" class="waves-light" aria-label="Close" (click)="deleteModal.hide()" mdbWavesEffect><mdb-icon fas icon="times"></mdb-icon>     Chiudi</button>
                          <button (click)="deleteProduct(product.id)" class="btn btn-danger"><mdb-icon far icon="trash-alt"></mdb-icon>  Conferma cancellazione</button>
                        </div>
                      </div>
                    </div>
                  </div>





        </td>
      </tr>

    </tbody>
  </table>



</div>


<button id = "titolo" type="button" mdbBtn color="elegant" class="relative waves-light" (click)="basicModal.show()"><mdb-icon fas icon="plus"></mdb-icon>     Aggiungi Prodotto</button>
<button id = "torna" type="button" mdbBtn color="elegant" class="relative waves-light" routerLink="/magazzini" ><mdb-icon fas icon="undo-alt"></mdb-icon>    Torna ai magazzini</button>



</div>
