

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Nuovo Magazzino</h4>
      </div>
      <div class="md-form">

        <mdb-icon fas icon="warehouse" aria-hidden="true"></mdb-icon>
          <input type="text" class="form-control" id="form6" required [(ngModel)]="magazzino.name" name="name" mdbInput>
          <label for="form6">Inserisci il nome del magazzino</label>

      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="elegant" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Chiudi</button>
        <button type="submit" (click)="onSubmit()" mdbBtn color="elegant" class="relative waves-light" mdbWavesEffect>Crea</button>
      </div>
    </div>
  </div>
</div>

<br>

<div>

<div class="list-group" style="width: 600px">

  <h2 class="list-group-item active dark grey darken-3 text-center"  mdbWavesEffect>
     I tuoi Magazzini </h2>
     <div class="list-group-item list-group-item-action waves-light" *ngFor= "let magazzino of magazzini | async">
  <h3 class ="text-center">{{magazzino.name}}</h3>
  <div id="buttoncontainer">
<button  class =" center"  (click)=MagazzinoDetail(magazzino.id)  type = "button" mdbBtn color="elegant" mdbWavesEffect>Gestisci</button>
<button (click)="deleteMagazzino(magazzino.id)" class="center"mdbBtn color="elegant" mdbWavesEffect>Canc</button>
<button type="submit" mdbBtn color="elegant" class="relative waves-light" (click)="updateModal.show()">Modifica</button>


  <div mdbModal #updateModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Cambia nome Magazzino</h4>
        </div>
        <div class="md-form">

          <mdb-icon fas icon="warehouse" aria-hidden="true"></mdb-icon>
            <input placeholder ={{magazzino.name}} type="text" class="form-control" id="form6" required [(ngModel)]="newMagazzino.name" name="name" mdbInput>
            <label for="form6">Inserisci il nuovo nome del magazzino</label>

        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="elegant" class="waves-light" aria-label="Close" (click)="updateModal.hide()" mdbWavesEffect>Chiudi</button>
          <button type="submit" (click)="editMagazzino(magazzino.id)" mdbBtn color="elegant" class="relative waves-light" mdbWavesEffect>Modifica</button>
        </div>
      </div>
    </div>
  </div>


</div>
    </div>
  <button type="button" mdbBtn color="elegant" class="relative waves-light" (click)="basicModal.show()"  >Crea Nuovo Magazzino</button>
</div>

